body{
    font: 15px/1.5 arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
 /* Global */

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0%;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Header */

header{
    width: 100%;
    position: fixed;
    padding: 20px;
    color: #c7c3c2; 
    z-index: 1;  
}

header a{
    color: #c7c3c2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

header ul{
    margin: 0%;
    padding: 0%;
}

header li{
    display: inline-block;
    padding: 0 20px 0 20px;
}

header .header-logo{
    float: left;
}

header .header-logo h1{
    margin: 0px;
}

header nav{
    float: right;
    margin-top: 15px;
}


header a:hover{
    color: #fff;
    transition: 0.4s;
}

/* Slider */

.slider{
    background: url('../img/bg.jpg');
    opacity: 0.8;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.slider .container{
    padding-top: 50%;
}

.slider h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

.slider p{
    color: #c7c3c2;  
}


.slider button{
    background-color: #f05f40;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 7px 6px;
}

/* About Us */

.about-us{
    background: #f05f40;
    color: #fff;
    padding: 100px;
    text-align: center;
}

.about-us .container{
    width: 80%;
}

.about-us .hr-light {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 50px;
    text-align: center;
    border-width: 3px;
    border-color: #fff;
    margin: auto;
}

.about-us h1{
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 20px;
}

.about-us p{
    color: #c7c3c2;
    font-size: 17px;
}

.about-us button{
    background-color: #fff;
    border: none;
    color: #111;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 7px 6px;
}

/* Services */

.services{
    padding: 70px;
}

.services .box{
    float: left;
    width: 22%;
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.services .fas{
    font-size: 60px;
    color: #f05f40;
}

.services img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services h1{
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}

/* Gallery */

.gallery{
    height: 440px;
    border: 2px solid green;
}

.gallery img{
    width: 100%;
    width: 33.33%;
    float: left;
    margin: 0%;
    padding: 0%;
}

/* Get Trial */

.trial{
    background: #212529;
    color: #fff;
    padding: 100px;
    text-align: center;
    text-transform: capitalize;
}

.trial .hr-light {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 50px;
    text-align: center;
    border-width: 3px;
    border-color: #fff;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.trial h1{
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 20px;
}

.trial button{
    background-color: #fff;
    border: none;
    color: #111;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 7px 6px;
}

/* Footer */

.footer{
    background: #fff;
    color: #212529;
    padding: 30px;
    text-align: center;
}

.footer .fas{
    font-size: 50px;
    float: left;
    width: 45%;
    text-align: center;
}

.footer h1{
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 20px;
}

.footer a{
    text-decoration: none;
    color: #f05f40;
}

.footer .contacts p{
    color: #212529;
    font-size: 17px;
    font-weight: 100;
    padding-top: 30px;
}
