body{
    font: 15px/1.5 arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
 /* Global */

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0%;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Header */

header{
    width: 100%;
    height: 30px;;
    position: fixed;
    padding: 10px;
    color: #c7c3c2; 
    z-index: 1;  
}

header a{
    color: #c7c3c2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

header ul{
    margin: 0%;
    padding: 0%;
}

header li{
    display: inline-block;
    padding: 0 20px 0 20px;
}

header .header-logo{
    float: left;
    text-transform: uppercase;
}

header .header-logo h1{
    margin: 5px;
    font-size: 20px;
}

.nav{
    float: right;
    margin-top: 10px;
}

.nav a:hover{
    color: #fff;
    transition: 0.4s;
}

  header.scroll  {
    background-color: #fff;
    color: #f05f40;
    border-bottom: rgb(192, 192, 192) 0.7px solid;
  }

/* Slider */

.slider{
    background: url('../img/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:10% 65%;
    text-align: center;
    color: #fff;
}

.slider .container{
    padding-top: 20%;
}

.slider h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.slider p{
    color: #c7c3c2; 
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}


.slider button{
    background-color: #f05f40;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    height: 50px;
    width: 180px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    padding: auto;
}

.slider button:hover{
    background-color: #f3441d;
    transition: 0.4s;
}

/* About Us */

.about-us{
    background: #f05f40;
    color: #fff;
    padding: 100px;
    text-align: center;
}


.about-us .hr-light {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 50px;
    text-align: center;
    border-width: 3px;
    border-color: #fff;
    margin: auto;
    padding: 10px;
}

.about-us h1{
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: normal;
}

.about-us p{
    color: #c7c3c2; 
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

.about-us button{
    background-color: #fff;
    border: none;
    color: #111;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    height: 50px;
    width: 180px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    padding: auto;
}

.about-us button:hover{
    background-color: rgb(219, 218, 218);
    transition: 0.4s;
}



/* Services */

.services{
    padding: 70px;
}
 
.services .container{
    width: 100%;
}

.services .box{
    float: left;
    width: 23.21%;
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.services .fas{
    font-size: 70px;
    color: #f05f40;
}

.services h1{
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
}

.services h2{
    font-weight: 500;

}

.services p{
    color: #817e7d; 
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

/* Gallery */

.gallery  .container{
    width: 100%;
} 

.gallery img{
    width: 100%;
    width: 33.33%;
    float: left;
    margin: 0%;
    padding: 0%;
}


/* Get Trial */

.trial{
    background: #212529;
    color: #fff;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    text-transform: capitalize;
}



.trial .hr-light {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 50px;
    text-align: center;
    border-width: 3px;
    border-color: #fff;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.trial h1{
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
}

.trial button{
    background-color: #fff;
    border: none;
    color: #111;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    height: 50px;
    width: 180px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    padding: auto;
}

.trial button:hover{
    background-color: rgb(219, 218, 218);
    transition: 0.4s;
}

/* Footer */

.footer{
    background: #fff;
    color: #212529;
    padding: 30px;
    text-align: center;
}

.footer .fas{
    font-size: 50px;
    float: left;
    width: 49.5%;
    text-align: center;
    padding-top: 30px;
}

.footer h1{
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
}

.footer a{
    text-decoration: none;
    color: #f05f40;
}

.footer p{
    color: #817e7d; 
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
}

.footer .contacts p{
    color: #212529;
    font-size: 17px;
    font-weight: 100;
    padding: 20px;
    padding-bottom: 100px;
}
